.filters {
  padding-top: 40px;
  color: white;
  .slider {
    color: white !important; // Установка белого цвета для ползунка
  }
  .years {
    margin-top: 10px;
    font-size: 16px;
    color: white;
  }
}
